.list-container-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-image: url('../../assets/background.jpg');
    margin-top: -1.5rem;


}

.list-container{
    background-color: rgba(253, 150, 150, 0.473);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 97%;
    min-height: 50vh;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    
}


.list-card-container{
    display: flex;
    height: 11rem;
    width: 25rem;
    border-radius: 1rem;
    background-color: rgba(211, 90, 90, 0.24);
    color: rgba(0, 0, 0, 0.61);
    border: 1px solid white;
}


.list-card-container:hover{
    transform: scale(1.05);
    transition: .4s;
}


.list-card-img{
    border-radius: 1rem;
    object-fit: cover;
    width: 220px;
    height: 100%;
    filter: opacity(95%);
}

.list-card-info{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.list-card-info ul li{
    margin-top: .5rem;
}

.list-card-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.list-card-price{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.list-btns-container{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.disabled{
    display: none;
   
}

.list-page-container{
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    display: flex;
}

.loader{
    display: flex;
    flex-direction: column;
    margin: 15% 40%;
    justify-content: center;
    align-items: center;
    
}

.loader p{
    margin-top:-2rem;
    color: antiquewhite;
    font-size: 2rem;
}

.list-no-data{
    color: white;
    border-bottom: 2px solid white;
    font-size: 4rem;
 
}


@media only screen and (min-width:320px) and (max-width:559px) {

    .list-container-all{
        padding: 0;
        margin-top: -2rem;
    }

    .list-container{
        width: 96%;
        padding-top: 2rem;
        min-height: 34rem;
    }

    .list-card-container{
        width: 23rem;
    }

    .list-card-img{
        border-radius: 0%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem ;
        width: 10rem;
    }

    .list-card-title{
        margin: auto auto;
        margin-left: -1rem;
    }

    .list-no-data{
    padding-left: .3rem;
    }
}
@media only screen and (min-width:460px) and (max-width:768px) {
    .list-container-all{
        height: fit-content;
        margin-top: -9rem;
    }

    .list-container{
        padding-top: 2rem;
    }
    
    .list-card-img{
        border-radius: 0%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem ;
    }

    .list-card-container{
        width: 32rem;
    }

    .list-card-img{
        border-radius: 0%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem ;
        width: 15rem;
    }
}

